# This hosts was created by Ansible
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for dict_type, dict_value in group_vars.hosts.items() -%}
{% for group in dict_value -%}
{% if 'management' in group %}
{{ group['management'].ip }}{% for host_name in group.names %} {{ host_name }}{% endfor %}{{ '' }}
{% else %}
{{ group['provider'].ip }}{% for host_name in group.names %} {{ host_name }}{% endfor %}{{ '' }}
{% endif %}
{%- endfor %}
{%- endfor %}
