# This hosts was created by Ansible
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for dict_type, dict_value in group_vars.hosts.items() -%}
  {% for host in dict_value -%}
    {{ host.ip }} {{ host.name }} {{ host.name.split('.')[0] }}{{ '\n' }}
  {%- endfor %}
{%- endfor %}
