uid = {{ group_vars.swift.user }}
gid = {{ group_vars.swift.group }}
log file = /var/log/rsyncd.log
pid file = /var/run/rsyncd.pid
address = {{ config_element_of_swift }}

[account]
max connections = 2
path = /srv/node/
read only = False
lock file = /var/lock/account.lock

[container]
max connections = 2
path = /srv/node/
read only = False
lock file = /var/lock/container.lock

[object]
max connections = 2
path = /srv/node/
read only = False
lock file = /var/lock/object.lock
