[DEFAULT]
rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
iscsi_helper = lioadm
volume_name_template = volume-%s
volume_group = cinder-volumes
verbose = True
auth_strategy = keystone
state_path = /var/lib/cinder
lock_path = /var/lock/cinder
volumes_dir = /var/lib/cinder/volumes
enabled_backends = lvm

transport_url = rabbit://{{ group_vars.mq.user }}:{{ group_vars.mq.password }}@{{ group_vars.hosts.controllers[0].names[0] }}
auth_strategy = keystone
my_ip = {{ (group_vars.hosts.cinders|selectattr('names', 'contains', inventory_hostname)|first).management.ip }}

[database]
#connection = sqlite:////var/lib/cinder/cinder.sqlite
connection = mysql+pymysql://{{ group_vars.cinder.user }}:{{ group_vars.cinder.password }}@{{ group_vars.hosts.controllers[0].names[0] }}/cinder

[keystone_authtoken]
www_authenticate_uri = http://{{ group_vars.hosts.controllers[0].names[0] }}:5000/
auth_url = http://{{ group_vars.hosts.controllers[0].names[0] }}:5000
memcached_servers = {{ group_vars.hosts.controllers[0].names[0] }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = {% for domain in group_vars.openstack.domains if domain.name.upper() == 'DEFAULT' -%}
  {% for project in domain.projects if 'primary' in project and project.primary == true -%}
    {{ project.name }}{{ '\n' }}
  {%- endfor %}
{%- endfor %}
username = {{ group_vars.cinder.user }}
password = {{ group_vars.cinder.password }}

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp
