*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
--append POSTROUTING --source {{ host_vars.iptables.provider.nat.src }} --jump MASQUERADE
--append POSTROUTING --source {{ host_vars.iptables.management.nat.src }} --jump MASQUERADE
COMMIT
*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
COMMIT
